screenshot-path null // Don't save screenshots to disk

// Disable middle click paste
clipboard { disable-primary; }

hotkey-overlay { skip-at-startup; }

input {
    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 0.33333
    }
    default-column-width { proportion 1.0; }
}

window-rule {
    // Prevent windows opening in this mode
    open-maximized-to-edges false
    // Some windows don't get focus if on another monitor
    open-focused true
}

// Background in Overview
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// Make Steam popups floating
window-rule {
    match app-id="^steam$"
    exclude title="^Steam$"
    open-floating true
}

spawn-at-startup "spotify"
spawn-at-startup "DiscordCanary"
spawn-at-startup "firefox"
spawn-at-startup "obsidian"

// Games VRR
window-rule {
    variable-refresh-rate true
    open-fullscreen true

    match app-id="^gamescope$"
}

window-rule {
    open-floating true

    match app-id="^localsend_app$"
}

window-rule {
    block-out-from "screencast"

    match app-id="^obsidian$"
    match app-id="^firefox$" title="WhatsApp"
}

window-rule {
    background-effect {
        blur true
    }
}
