// Startup
spawn-at-startup "spotify"
spawn-at-startup "DiscordCanary"
spawn-at-startup "firefox"
spawn-at-startup "obsidian"
spawn-at-startup "alacritty"

screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

// Disable middle click paste
clipboard { disable-primary; }

hotkey-overlay { skip-at-startup; }

input {
    focus-follows-mouse max-scroll-amount="0%"
}

layout {
    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 0.33333
    }
    default-column-width { proportion 1.0; }
}

window-rule {
    // Prevent windows opening in this mode
    open-maximized-to-edges false
    // Some windows don't get focus if on another monitor
    open-focused true
}

// Background in Overview
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
    match namespace="^noctalia-overview*"
    place-within-backdrop true
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}

// Make Steam popups floating
window-rule {
    match app-id="^steam$"
    exclude title="^Steam$"
    open-floating true
}

window-rule {
    match title="^Syncthing Tray$"
    open-floating true
    default-floating-position x=0 y=0 relative-to="top-right"
}

// Games VRR
window-rule {
    variable-refresh-rate true
    open-fullscreen true

    match app-id="^gamescope$"
}

window-rule {
    open-floating true

    match app-id="^localsend_app$"
    match app-id="^org.kde.filelight$"
    match app-id="^valent$"
    match app-id="^Alacritty-floating$"
}

window-rule {
    block-out-from "screencast"

    match app-id="^md.obsidian.Obsidian$"
    match app-id="^firefox$" title="WhatsApp"
}

// Blur
window-rule {
    background-effect {
        blur true
        noise 0.05
    }
}
window-rule {
    match is-floating=true

    background-effect {
        xray false
    }
}
layer-rule {
    match layer="top"
    match layer="overlay"

    background-effect {
        xray false
    }
}
